<div class="container">
  <mat-progress-spinner
    *ngIf="isLoading"
    mode="indeterminate"
    color="primary">
  </mat-progress-spinner>
  <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
    <div *ngIf="error">
      <p>{{ error }}</p>
    </div>
    <mat-form-field appearance="standard">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        ngModel
        name="email"
        required
      >
      <!-- <mat-hint></mat-hint> -->
    </mat-form-field>
    <mat-form-field appearance="standard" *ngIf="!isLoginMode">
      <mat-label>Username</mat-label>
      <input
        matInput
        type="text"
        ngModel
        name="username"
        required
      >
      <!-- <mat-hint></mat-hint> -->
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        ngModel
        name="password"
        required
        minlength="6"
      >
      <!-- <mat-hint></mat-hint> -->
    </mat-form-field>
    <div class="buttons">
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="!authForm.valid"
      >{{ isLoginMode ? 'Login' : 'Sign Up'}}</button>
      <button
        mat-stroked-button
        (click)="onSwitchMode()"
        type="button"
      >Switch to {{ isLoginMode ? 'Sign Up' : 'Login'}}</button>
    </div>
  </form>
</div>