<header>
  <nav>
    <div></div>
    <div>
      <ng-container
        *ngIf="$username | async as name"
      >
        <button
          mat-button
          routerLink="/home"
          *ngIf="name"
        >Home</button>
        <button
          mat-button
          routerLink="/auth"
          *ngIf="!name"
        >Authenticate</button>
        <button
          mat-button
          routerLink="/upload"
          *ngIf="name"
        >Upload</button>
        <div
          #profileMenuWrapper
          class="profile-menu-wrapper"
        >
          <button
            mat-button
            (click)="toggleProfileMenu($event)"
          >
            {{ name }}
          </button>
          <div
            *ngIf="profileMenuOpened"
            class="profile-menu"
          >
            <button
              mat-button
              [routerLink]="name"
              (click)="closeProfileMenu()"
            >Profile</button>
            <button
              mat-button
              (click)="logout()"
            >Logout</button>
          </div>
        </div>
      </ng-container>
    </div>
  </nav>
</header>