<header>
  <nav>
    <div></div>
    <div>
      <!-- <button
        mat-button
        (click)="test()"
      >Test</button> -->
      <button
        mat-button
        routerLink="/home"
        *ngIf="isAuthenticated"
      >Home</button>
      <button
        mat-button
        routerLink="/auth"
        *ngIf="!isAuthenticated"
      >Authenticate</button>
      <button
        mat-button
        routerLink="/upload"
        *ngIf="isAuthenticated"
      >Upload</button>
      <button
        mat-button
        (click)="logout()"
        *ngIf="isAuthenticated"
      >Logout</button>
    </div>
  </nav>
</header>