header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #3A546E;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1240px;
  width: 100%;
  height: 100%;

  &>div {
    height: 100%;
    display: flex;
  }

  button {
    height: 100%;
    color: whitesmoke;
  }

  .profile-menu-wrapper {
    position: relative;
  }

  .profile-menu {
    background: #3A546E;
    border: 1px solid #ccc;
    border-top: 0;
    position: absolute;
    left: 0;
    top: 100%;
  }
}
