<div class="upload">
  <div class="upload-file">
    <div class="upload-file__container">
      <input hidden type="file" #fileInput (change)="uploadFiles($event.target.files)" multiple>
      <div class="upload-file__main" [ngClass]="{'upload-file__main_small': uploads$.length}">
        <p>Drag and drop your tracks here</p>
        <button
          mat-flat-button
          color="primary"
          (click)="fileInput.click()"
        >or choose files to upload</button>
      </div>
    </div>
    <div class="upload-file__list">
      <app-upload-item
        *ngFor="let upload of uploads$; let i = index; trackBy: trackUploadKey"
        [fileInfo]="upload"
        (delete)="deleteUploadedFile(i)"
        (confirm)="confirmFile($event, i)"
      ></app-upload-item>
    </div>
  </div>
  <app-drop-place
    *ngIf="dragFile"
    (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)"
  ></app-drop-place>
</div>