<div
  *ngIf="profile$ | async as profile"
  [ngClass]="{ 'personal': personalPage$ | async }"
>
  <input #fileInput type="file" (change)="fileChangeEvent($event.target.files[0])" hidden />
  <div class="profile-header">
    <div
      class="avatar-container"
      (click)="onShowModal($event, profileModals.Avatar)"
    >
      <div class="avatar">
        <ng-container >
          <img
            *ngIf="profile.avatar"
            [src]="profile.avatar"
            alt="avatar"
          >
          <div
            *ngIf="!profile.avatar"
            style="height: 50px; background: black;">
          </div>
        </ng-container>
      </div>
      <button
        *ngIf="personalPage$ | async"
        class="upload-btn"
        mat-button
        (click)="onShowModal($event, profileModals.UploadAvatar)"
      >
        <mat-icon mat-list-icon>camera_alt</mat-icon>
        Upload image
      </button>
    </div>
    <div class="profile-heading">
      <h1>{{ username$ | async }}</h1>
    </div>
    <button
      *ngIf="personalPage$ | async"
      class="upload-btn"
      mat-button
      (click)="onShowModal($event, profileModals.UploadBackground)"
    >
      <mat-icon mat-list-icon>camera_alt</mat-icon>
      Upload image
    </button>
  </div>
  <ng-container
    *ngIf="showModal && personalPage$ | async"
  >
    <app-modal
      [title]="username$ | async"
      (hide)="onHideModal()"
      [width]="modalWidth"
    >
      <ng-container [ngSwitch]="activeModal">
        <div *ngSwitchCase="profileModals.Avatar">
          <img
            *ngIf="profile.avatar"
            [src]="profile.avatar"
            alt="avatar"
            class="avatar-img"
          >
          <div
            *ngIf="!profile.avatar"
            style="height: 50px; background: black;"
          >
          </div>
        </div>
        <div *ngSwitchCase="profileModals.UploadAvatar">
          For best results, upload images of at least 1000x1000 pixels. 2MB file-size limit.
          <app-image-cropper
            [imageFile]="originalImageFile"
            [width]="500"
            [height]="500"
            [zoom$]="zoomValue$"
            [round]="true"
            (blobImage)="onBlobImage($event)"
          ></app-image-cropper>
          <div class="controls">
            <div class="slider-wrapper">
              <span>–</span>
              <mat-slider
                min="0"
                step="1"
                [max]="maxSteps"
                (input)="onZoomChange($event)"
              >
                zoom
              </mat-slider>
              <span>+</span>
            </div>
            <div>
              <button mat-button (click)="onHideModal()">Cancel</button>
              <button mat-flat-button (click)="saveAvatar()" color="primary">Save</button>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="profileModals.UploadBackground">
          <p>For best results, upload PNG or JPG images of at least 2480x520 pixels. 2MB file-size limit. Avoid using text within your header image, as it will be cropped on smaller screens.</p>
          <app-image-cropper
              [imageFile]="originalImageFile"
              [width]="850"
              [height]="178"
              [zoom$]="zoomValue$"
              (blobImage)="onBlobImage($event)"
            >
          </app-image-cropper>
          <div class="controls">
            <div class="slider-wrapper">
              <span>–</span>
              <mat-slider
                min="0"
                step="1"
                [max]="maxSteps"
                (input)="onZoomChange($event)"
              >
                zoom
              </mat-slider>
              <span>+</span>
            </div>
            <div>
              <button mat-button (click)="onHideModal()">Cancel</button>
              <button mat-flat-button (click)="saveBackground()" color="primary">Save</button>
            </div>
          </div>
        </div>
      </ng-container>
    </app-modal>
  </ng-container>
  <router-outlet></router-outlet>
</div>