<form
  *ngIf="fileInfo | async as uploadState"
  class="upload-item"
  #uploadForm="ngForm"
  (ngSubmit)="onSubmit(uploadForm, uploadState)"
>
  <div class="upload-item__progress">
    <mat-progress-bar
      mode="determinate"
      [value]="uploadState.loadPercentage"
    ></mat-progress-bar>
  </div>
  <div class="upload-item__info-wrapper">
    <div class="upload-item__info">
      <span><span class="upload-item__filename-caption">Filename:&nbsp;</span>{{ uploadState.filename }}</span>
      <div class="upload-item__buttons-wrapper">
        <button
          mat-flat-button
          color="primary"
          class="upload-item__button"
          type="submit"
          [disabled]="uploadForm.invalid || getSubmitDisabled(uploadState.status)"
        >
          Save
        </button>
        <button
          mat-flat-button
          color="warn"
          class="upload-item__button"
          type="button"
          (click)="deleteItem()"
          [disabled]="uploadForm.invalid && uploadForm.touched || getCancelDisabled(uploadState.status)"
        >
          {{ getCancelButtonText(uploadState.status) }}
        </button>
      </div>
    </div>
    <div class="upload-item__track-info">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Artist</mat-label>
          <input
            matInput
            ngModel
            type="text"
            name="artist"
            required
            minlength="2"
            pattern="\w+\s?\w+"
            #artist="ngModel"
            [disabled]="getInputsDisabled(uploadState.status)"
          >
          <mat-hint *ngIf="artist.touched && artist.invalid">Please, enter a valid value</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Track Name</mat-label>
          <input
            matInput
            ngModel
            type="text"
            name="name"
            required
            minlength="2"
            pattern="\w+\s?\w+"
            #name="ngModel"
            [disabled]="getInputsDisabled(uploadState.status)"
          >
          <mat-hint *ngIf="name.touched && name.invalid">Please, enter a valid value</mat-hint>
        </mat-form-field>
      </div>
      <div
        *ngIf="getStatusText(uploadState.status)"
        class="upload-item__load-caption"
      >
        <span>{{ getStatusText(uploadState.status) }}&nbsp;</span>
        <mat-icon [ngStyle]="{'color': getIconColor(uploadState.status)}">{{ getIconLigature(uploadState.status) }}</mat-icon>
      </div>
    </div>
  </div>
</form>