<div *ngFor="let upload of uploads; let i = index;">
  <form
    *ngIf="upload | async as upload"
    class="upload-item"
    #uploadForm="ngForm"
    (ngSubmit)="onSubmit(uploadForm, upload, i)"
  >
    <div class="upload-item__progress">
      <mat-progress-bar
        mode="determinate"
        [value]="upload.loadPercentage"
      ></mat-progress-bar>
    </div>
    <div class="upload-item__info-wrapper">
      <div class="upload-item__info">
        <span><span class="upload-item__filename-caption">Filename:&nbsp;</span>{{ upload.filename }}</span>
        <div class="upload-item__buttons-wrapper">
          <button
            mat-flat-button
            color="primary"
            class="upload-item__button"
            type="submit"
            [disabled]="uploadForm.invalid || getSubmitDisabled(upload.status)"
          >
            Save
          </button>
          <button
            mat-flat-button
            color="warn"
            class="upload-item__button"
            type="button"
            (click)="deleteItem(i, upload)"
            [disabled]="uploadForm.invalid && uploadForm.touched || getCancelDisabled(upload.status)"
          >
            {{ getCancelButtonText(upload.status) }}
          </button>
        </div>
      </div>
      <div class="upload-item__track-info">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Artist</mat-label>
            <input
              matInput
              ngModel
              type="text"
              name="artist"
              required
              minlength="2"
              pattern="\w+\s?\w+"
              #artist="ngModel"
              [disabled]="getInputsDisabled(upload.status)"
            >
            <mat-hint *ngIf="artist.touched && artist.invalid">Please, enter a valid value</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Track Name</mat-label>
            <input
              matInput
              ngModel
              type="text"
              name="name"
              required
              minlength="2"
              pattern="\w+\s?\w+"
              #name="ngModel"
              [disabled]="getInputsDisabled(upload.status)"
            >
            <mat-hint *ngIf="name.touched && name.invalid">Please, enter a valid value</mat-hint>
          </mat-form-field>
        </div>
        <div
          *ngIf="getStatusText(upload.status)"
          class="upload-item__load-caption"
        >
          <span>{{ getStatusText(upload.status) }}&nbsp;</span>
          <mat-icon [ngStyle]="{'color': getIconColor(upload.status)}">{{ getIconLigature(upload.status) }}</mat-icon>
        </div>
      </div>
    </div>
  </form>
</div>