<ng-container
  *ngIf="backgroundParameters$ | async as parameters"
>
  <div
  class="wrapper"
  [ngStyle]="{
    'height': height + 'px',
    'width': width + 'px'
  }"
  >
  <div
    class="background"
    *ngIf="round"
    [ngStyle]="{
      'background-image': parameters.source,
      'background-position': parameters.position,
      'background-size': parameters.size,
      'height': height + 'px',
      'width': width + 'px'
    }"
  >
  </div>
  <div
    class="cropper"
    [ngClass]="{'round': round}"
    [ngStyle]="{
      'background-image': parameters.source,
      'background-position': parameters.position,
      'background-size': parameters.size,
      'height': height + 'px',
      'width': width + 'px'
    }"
    (mousedown)="onMouseDown($event)"
  >
  </div>
  </div>
</ng-container>
